body>header {
    margin: 0 auto;
    padding: 52px 20px 18px;
    text-align: center;
    background: transparent;
    border: 0;
}

body>header h1 {
    margin-bottom: 10px;
}

body>header p {
    margin-bottom: 0;
    color: #666666;
}

#main-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    gap: 20px;
    margin-top: 20px;
}

#main-index section {
    display: flex;
    flex-direction: column;
}

#main-index form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#main-index form>div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3px;
}

#main-index button {
    width: 100%;
    margin-top: auto;
}

label[for="stay_connected"] {
    grid-row: 1;
    grid-column: 2;
    margin: 0;
    font-weight: normal;
}

@media (max-width: 850px) {
    #main-index {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    body>header {
        padding-top: 32px;
    }

    #main-index {
        grid-template-columns: 1fr;
        margin-top: 12px;
    }
}